body{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
.navbar{
	float: right;
	align-items: center;
	justify-content: space-between;
	background: white;
	width: 100%;
}
.navbar ul li{
	float: right;
	list-style: none;
	display: inline-block; 
	margin: 20px;
	background: white;

}	
.navbar ul li a {
	text-decoration: none;
	color: black;
}
.navbar ul li a:hover.menu {
	display: block;
	position: absolute;
}
.navbar img {
    top: 2%;
    left: 3%;
    position: absolute;
}
.navbar-1 button{
	border: 0;
	background: #3498db;
	padding: 12px 70px;
	border-radius: 5px;
	top: 25%;
	left: 38%;
	position: absolute;
}
.navbar-1 a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}
.content p {
	color: white;
	top: 32%;
	left: 42%;
	position: absolute;
	font-size: 14px;
	font-weight: bold;
}
.content-1 p {
	color: white;
	top: 32%;
	left: 48%;
	position: absolute;
	font-size: 14px;
	font-weight: bold;
}
.content-2 p {
	color: white;
	top: 32%;
	left: 54%;
	position: absolute;
	font-size: 14px;
	font-weight: bold;
}
.navbar-2 button{
	border: 0;
	background: #2ecc71;
	box-shadow: 0px 0px #2ecc71;
	padding: 12px 70px;
	border-radius: 5px;
	top: 45%;
	left: 38%;
	position: absolute;
}
.navbar-2 a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}
.content-3 p {
	color: white;
	top: 52%;
	left: 42%;
	position: absolute;
	font-size: 14px;
	font-weight: bold;
}
.content-4 p {
	color: white;
	top: 52%;
	left: 50%;
	position: absolute;
	font-size: 14px;
	font-weight: bold;
}
.content-5 p {
	color: white;
	top: 52%;
	left: 54%;
	position: absolute;
	font-size: 14px;
	font-weight: bold;
}
.content i {
	top: 34%;
	left: 40.5%;
	position: absolute;
	color: white;
} 
.content-3 i {
	top: 54%;
	left: 40.5%;
	position: absolute;
	color: white;
} 
.content-4 i {
	top: 54%;
	left: 48.5%;
	position: absolute;
	color: white;
} 
.navbar-1 i {
	left: 10%;
	position: absolute;
	color: white;
	font-size: 18px;
}
.navbar-2 i {
	left: 10%;
	position: absolute;
	color: white;
	font-size: 18px;
}
